<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:secruity="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <!--JDBC CONNECTOR -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">

        <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
        <property name="url" value="jdbc:mysql://localhost/expresstrade"></property>
        <property name="username" value="root"></property>
        <property name="password" value="admin"></property>

    </bean>
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.Dialect">org.hibernate.dialect.MySQL5Dialect</prop>
                <!--<prop key="hibernate.hbm2ddl.autodll">update</prop>-->
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
            </props>
        </property>
        <property name="packagesToScan">
            <list>
                <value>com.expresstrade</value>
            </list>
        </property>
    </bean>
    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="4000000"></property>

    </bean>

    <secruity:http auto-config="true">

        <secruity:intercept-url pattern="/admin/**" access="ROLE_USER"/>
        <secruity:form-login
                login-page="/login"
                default-target-url="/admin/"
                authentication-failure-url="/login?error"
                username-parameter="username"
                password-parameter="password" />

        <secruity:logout
                logout-success-url="/login?logout"/>

    </secruity:http>

    <secruity:authentication-manager>

        <secruity:authentication-provider>
            <!--Where to retrieve information about username and password-->
            <secruity:jdbc-user-service data-source-ref="dataSource"
                                        authorities-by-username-query="SELECT username, authority FROM authorities WHERE username = ?"
                                        users-by-username-query="SELECT username, password, enabled FROM users  WHERE username = ?"
            />
        </secruity:authentication-provider>

    </secruity:authentication-manager>

</beans>